rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /config/instrucciones {
      allow read, write: if true;
    }

    match /config/folioChatContador {
      allow read, write: if true;
    }

    match /conversacionesChat/{folio} {
      allow read, write: if true;
    }

    match /auditoriaAdmin/{entrada} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
